<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Programacion III - Hola mundo</h1>
    <p>Nombre: Argenis Navarro</p>
    <p>Cedula: 30.406.581</p>
    <p>Sección: 4</p>
  </body>
</html>
